<main class="text-light">

    

<title>Yuka Code | Ekip</title>

    <br>

    <div class="container">

        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">

            Yetkililer</h1>

        <hr style="background-color: white;height: 2px; ">

        <div class="row" style="margin-left: 20px;">

            <div class="col">

            

                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">

                    <div class="profile-details">

                        <h1 title="Burak">Burak</h1>

                        <h2>Kurucu</h2>

                    </div>

                    <div class="profile-avatar"><img src="https://media.discordapp.net/attachments/593446003064176671/912767079902486588/8b819a89369110fa87a6e3a8eba91017.png">

                    </div>

                </div>

              

                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">

                    <div class="profile-details">

                        <h1 title="Rüzgar">Rüzgar</h1>

                        <h2>Kurucu</h2>

                    </div>

                    <div class="profile-avatar"><img src="https://media.discordapp.net/attachments/593446003064176671/912767111456239707/66a87889d3ae96eab375795c44371a35-2.jpg">

                    </div>

                </div>

                    <div class="profile-avatar"><img src="https://media.discordapp.net/attachments/593446003064176671/912767111993102417/7594d2834589799712c009df7d370ec0.jpg">

                    </div>

                </div>

                    </div>

                </div>

           
                </div>

            </div>

        </div>

    </div>

    <br>

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

    <div class="container">

        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">

            Destekçiler</h1>

        <hr style="background-color: white;height: 2px; ">

        <div class="row" style="margin-left: 3px;">

            <div class="col">

                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">

                    <div class="profile-details">

                        <h1 title="Boş">Boş</h1>

                        <h2>Booster</h2>

                    </div>

                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">

                    </div>

                </div>

               

                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">

                    <div class="profile-details">

                        <h1 title="Boş">Boş</h1>

                        <h2>Booster</h2>

                    </div>

                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>