<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>Yuka Code | Ana Sayfa</title>
<br><br>
<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.glitch.me/c69d049d-2114-4e1d-bdd2-56e3667a57c8%2Fcity2.jpg?v=1637611053092) no-repeat fixed;
			background-size: 100%;
		}
	</style>

  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://media.discordapp.net/attachments/897484858123776050/919646938826145832/1639331312746.webp">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">Yuka Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="/davet" target="_blank"><font color="gold"</font>Discord Sunucumuza</a><font color="white"</font> Katılmanız Gerekmektedir
  </p>
      
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> JavaScript Kodlar</a>
<a href="/html"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Html Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Booster Özel Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> Hazır Sistemler</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://youtube.com/channel/UCQ6BrgFFIQe5YPHn4N16U5A" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-youtube"></i> Youtube Sayfamız</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="5"><b>SUNUCULARIMIZ</b></font>
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
        
                  <div class="ASD">                                    
                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.glitch.me/c69d049d-2114-4e1d-bdd2-56e3667a57c8%2Frainyboii2.gif?v=1637611047186" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                       
                      <img style="width: 80px;" class=" certificate-botimg " src="https://media.discordapp.net/attachments/897484858123776050/919646938826145832/1639331312746.webp" alt="Yuka"> 
                      </div>
                 
                    Yuka Code      
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      
                        
                      </div>
                      
                      <p> </p>
                        <p class="card-text">Yuka Code Her Gün Adım Adım Büyüyen Güzel Saygılı Bir Topluluk</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                   <br>
                
                    </div>
                    <div class="card-footer">                    
                       <a class="btn btn-outline-warning nav-link text-uppercase" href="/davet/"> <i class="fab fa-discord"></i><b>  Sunucuya Git</b></a>
                    </div>
                  </div>
      </div> 
      
      
<div class="allpanel">

    <div class="panel1">

      <div class="col-md-4">

                  <div class="ASD">                                    

                    

                      <img class="card-img-top" style="height: 200px;" src="https://cdn.glitch.me/c69d049d-2114-4e1d-bdd2-56e3667a57c8%2Frainyboii.gif?v=1637611051455" alt="Banner">                                                  

                      <img class="certificate-role" src="/css/certificate.png" alt="">                    

                    <div class="card-body">

                      <div class="avatarmargin">

                       

                      <img style="width: 80px;" class=" certificate-botimg " src="https://media.discordapp.net/attachments/897484858123776050/912337532887400448/89027388f188b273eab93de269deb972_1.png" alt="RabeL"> 

                      </div>

                 

                    Wolt Botlist     

                      

                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">

                      

                        

                      </div>

                      

                      <p> </p>

                        <p class="card-text">Wolt Botlist Botunuza Ekstra İstatistik Ekleyin</p>

                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>

                   <br>

                

                    </div>

                    <div class="card-footer">                    
                    <b> 2.270 Üye </b>
                    
                      <br>
                      <a class="btn btn-outline-warning nav-link text-uppercase" href="/davet/"> <i class="fab fa-discord"></i><b>  Sunucuya Git</b></a>

                    </div>

                  </div>

      </div> 

                  
    </br>
     <h1>Web Developer</h1>
  <div class="row">
<div id="avatar2">
 <a href="https://yuka-code.cf"> <img class="avatar" height="100" width="100" src="https://media.discordapp.net/attachments/897484858123776050/912355580981690408/8b819a89369110fa87a6e3a8eba91017.png">
		<br>
		<font color="white">Burak</font>
    
</div>
</div>

        <h class="text-light font-weight-light">
       Yuka Code Tüm Hakları Saklıdır. 
  </h>
  <br>

 
    
</main>